/* Layout */
.d-f { display: flex; }

.jc-fe { justify-content: flex-end; }
.jc-se { justify-content: space-evenly; }

.ai-c { align-items: center; }
.ai-fe { align-items: flex-end; }

.as-c { align-self: center; }