/* Margins */

.m-a { margin: auto; }
.mv-24 { margin-top: 24px; margin-bottom: 24px;}
.mh-36 { margin-left: 36px; margin-right: 36px;}


/* Paddings */

.p-6 { padding: 6px; }
.p-12 { padding-right: 12px; }

.pl-3 { padding-left: 3px; }